#logo {
    background: #555753;
    background-image:  linear-gradient(to top,#ff0844 0%, #ffb199 100%);
    filter: drop-shadow(0 20px 30px #28d8ff33);
    color: black;
    background-clip: text;
    box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    -moz-text-fill: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-box-decoration-break: clone;
}